*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg,#cf9aff,#95c0ff);
}


.container{
    
    
    text-align: center;
   
}
.container h1{

}